<div id="mainContainer" class="flex items-center justify-center w-screen h-screen">
  <div id="phoneContainer"
    class="min-w-[360px] min-h-[500px] max-w-[400px] max-h-[600px] w-full h-full border border-solid border-black">

    <div id="dialMainContainer" class="flex flex-col items-center justify-between w-full h-full">

      <app-header class="w-full"></app-header>

      <app-display class="w-full"></app-display>
      <app-dial-pad class="w-full"></app-dial-pad>
      <app-call-btn></app-call-btn>

    </div>
  </div>
</div>

<router-outlet></router-outlet>