<div id="dialPadContainer" class="grid w-full grid-cols-3 grid-rows-4 px-6 pb-4 text-3xl text-violet-800">
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        1
        <span id="" class="text-xs">
            &nbsp;
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        2
        <span id="" class="text-xs">
            ABC
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        3
        <span id="" class="text-xs">
            DEF
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        4
        <span id="" class="text-xs">
            GHI
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        5
        <span id="" class="text-xs">
            JKL
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        6
        <span id="" class="text-xs">
            MNO
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        7
        <span id="" class="text-xs">
            PQRS
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        8
        <span id="" class="text-xs">
            TUV
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        9
        <span id="" class="text-xs">
            WXYZ
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        *
        <span id="" class="text-xs">
            &nbsp;
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        0
        <span id="" class="text-xs">
            +
        </span>
    </div>
    <div id="" (click)="insertToDisplay($event)"
        class="flex flex-col items-center justify-center h-14 hover:bg-slate-100 hover:cursor-pointer">
        #
        <span id="" class="text-xs">
            &nbsp;
        </span>
    </div>
</div>